@import "../../node_modules/mocha/mocha.css";

#mocha-page-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  overflow-y: auto;

  /* show the test page when it's the target */
  opacity:0;
  pointer-events: none;
  &:target {
    opacity:1;
    pointer-events: auto;
  }


  > #mocha {
    width: 80%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;

    // Modify some official styles
    #mocha-stats {
      position: static;

      &::after{
        content: "  ----------------";
        display: block;
        height: 5px;
      }
    }
  }
}
